.overlay {
  height: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
  transition: 0.6s;
}

.overlay-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  padding-left: 140px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin-bottom: 20px;
  width: 320px;
}

.overlay a:hover, .overlay a:focus {
  color: #c36500;
  text-decoration: underline;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .overlay a {
    padding-left: 60px;
  }
}
